extends layout
block content
  .well
    .pull-right
      p 作成日時:
        = moment(markdown.created).format('MMMM Do YYYY, h:mm:ss a')
      p 更新日時:
        = moment(markdown.updated).format('MMMM Do YYYY, h:mm:ss a')
    !=markdown.html