extends layout
block content
  h1= title
  h4 powerd by express-markdown
  p 適当にmarkdown書いて保存するとディレクトリ構造を探査してWebサイトにしてくれるブログエンジン
  .navbar.navbar-inverse
    .navbar-inner
      .container
        .nav-collapse.collapse
          ul.nav
            li
              a(href="/") Home
            for item in nav
              li
                a(href="#{item}")= item

  .span6
    #content.tile
      p 作成日時
        = markdown.created
      p 編集日時
        = markdown.updated
      p コンテンツ
      !=markdown.html