doctype 5
html
  head
    title express-markdown
    //link(rel='stylesheet', href='/stylesheets/style.css')

    // bundle

    !=js('/vendor/jquery-2.0.0.min.js')
    !=js('/vendor/underscore-min')


  body
    block content