doctype 5
html
  head
    title= title

    // bundle
    script(src='/vendor/jquery-2.0.0.min.js')
    script(src='/vendor/underscore-min.js')
    script(src='/vendor/bootstrap.min.js')
    script(src='/vendor/moment.min.js')

    link(rel='stylesheet', href='/vendor/bootstrap.css')
    link(rel='stylesheet', href='/vendor/bootstrap-responsive.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    // User Library
    !=js('application')
    !=css('style')

  body
    .container-fluid
      .row-fluid
        .span2
          h4= title
          ul.nav.nav-pills.nav-stacked
            li
              a(href="/") Home
            for item in nav
              li
                a(href="/#{item}")= item
        .span10
          block content