doctype 5
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')

    // bundle
    //!=css('/vendor/bootstrap.css')
    //!=css('/vendor/flat-ui.css')
    //!=js('/vendor/jquery-2.0.0.min.js')
    //!=js('/vendor/underscore-min')
    //!=js('/vendor/bootstrap.min.js')

  body
    .container
      .row
        .span10.offset1
          block content