doctype 5
html
  head
    title= title

    // bundle
    !=js('/vendor/jquery-2.0.0.min.js')
    //!=js('/vendor/underscore-min.js')
    !=js('/vendor/bootstrap.min.js')

    !=css('/vendor/bootstrap.css')
    !=css('/vendor/bootstrap-responsive.min.css')

    // User Library
    !=js('application')
    !=css('style')

  body
    .container
      .row
        .span4
          .navbar.navbar-inverse
            .navbar-inner
              .container
                .nav-collapse.collapse
                  ul.nav.nav-pills.nav-stacked
                    li
                      a(href="/") Home
                    for item in nav
                      li
                        a(href="#{item}")= item
        .span8
          h1= title
          block content